.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
\#*\#
*~
*.aux
*.glob
*.v.d
*.v.timing
*.vo
*.vok
*.vos
.Makefile.coq.d
.coqdeps.d
.coq-native
Makefile.conf
Makefile.coq
Makefile.coq.conf
.lia.cache
.nra.cache
.nia.cache
CoqMakefile.conf
.CoqMakefile.d
.DS_Store
